<div class="container mt-3">
  <h3 class=" small mb-4 ">yuo have <span class="text-primary">{{productsCart.length}}</span> product in your cart</h3>
    <div (click)="clearCart()" class=" text-end pb-1">

        <span class=" text-danger">  <i class="fa-solid fa-calendar-xmark"></i> clear shoping cart</span>
    </div>
    <div class="table-responsive">
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th >Product</th>
          <th >Price</th>
          <th >Quantity</th>
          <th >Subtotal</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productsCart let index = index">
          <td><img class="me-3" [src]="item.item.thumbnail" alt=""><p class=" fw-bold">{{item.item.title}}</p></td>
          <td>${{calculateDiscountPrice(item.item.price,item.item.discountPercentage)}}</td>
          <td class="text-center">
            <div class=" d-flex align-items-center justify-content-center" style="width: fit-content;">

                <button type="button" class="btn btn-sm btn-secondary" (click)="minusamount(index)">
                  <i class="fas fa-minus"></i>
                </button>

                <mat-form-field appearance="fill" style="width: 100px;">

                  <input matInput type="number" [(ngModel)]="item.quantity" (change)="detecdChang()" >
                </mat-form-field>
                <button type="button" class="btn btn-sm btn-secondary " (click)="plusamount(index)">
                  <i class="fas fa-plus"></i>
                </button>



           </div></td>
           <td><h6>${{calculateDiscountPrice(item.item.price,item.item.discountPercentage) * item.quantity}}</h6></td>
           <td> <div (click)="removeItem(index)" class=" text-end  text-danger ">
            <i  class="fa-regular fa-trash-can">   Remove  </i>
          </div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
    <div class="w-25 ms-auto mt-4 py-2    text-center">
       <p class=" fw-bold m-0"> total :  $ {{total}} </p>


        </div>
         <div class="w-25 ms-auto py-2 mb-2   text-white  text-center ">
           <button mat-raised-button color="primary"  (click)="orderCart()"  >
            <i class='fab fa-whatsapp'>Order</i>
          </button>


        </div>
  </div>


