i{
    cursor: pointer;
}

 img{
    width: 70px;
    height: 70px;
 }

input[type="number"]{
    outline: none !important;
    box-shadow:none !important;
}
@media screen and (max-width:767px) {
    .hide--class{
        display: none;
    }
    .show--class{
        display: block !important;
    }

  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

