
<footer>
  <div class="container">
      <div class="row py-5">
          <div class="col-md-3">
              <div class="item d-flex  align-items-center">
                  <img src="assets/imges/one.png" alt="">
                  <div class="ms-3 ">
                      <h6>Fast & Secure Delivery                    </h6>
                      <p class=" text-muted ">Tell about your service.                    </p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="item d-flex  align-items-center">
                  <img src="assets/imges/tow.png" alt="">
                  <div class="ms-3 ">
                      <h6>Fast & Secure Delivery                    </h6>
                      <p class=" text-muted ">Tell about your service.                    </p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="item d-flex  align-items-center">
                  <img src="assets/imges/three.png" alt="">
                  <div class="ms-3 ">
                      <h6>Fast & Secure Delivery                    </h6>
                      <p class=" text-muted ">Tell about your service.                    </p>
                  </div>
              </div>
          </div>

      </div>

      <div class="row py-3" #contact id="contact">

              <div class="col-md-12">
                  <div>
                      <ul class="p-0">
                          <li class=" fw-bold">Contact                            </li>
                          <li>685 Market Street,
                              Las Vegas, LA 95820,
                              United States.</li>
                          <li>example.com</li>
                          <li>(+01) 850-315-5862</li>
                      </ul>
                  </div>
              </div>
          </div>
          <app-scroll-to-top></app-scroll-to-top>
          <app-price-filter></app-price-filter>
      </div>
      <div class=" border-top text-center">
          <p class=" text-muted pt-2">© {{getCurrentYear()}}. All rights .</p>
      </div>
</footer>
