<header id="navBar">


  <nav class="nav align-items-center   ">
      <div class="logo">
          <a  [routerLink]="['/AllProducts']" class="navbar--logo fw-bolder fs-5 mainColor" ><img src="assets/imges/logo.png"
                  alt=""></a>
      </div>
      <div id="LinksList" class="Links--list  me-auto  " [class.open]="varibleNavbar">
          <a  class="link"  [routerLink]="['/AllProducts']" routerLinkActive="router-link-active" ><span>Home</span></a>
          <a class="link" [routerLink]="['/AllProducts']" (click)="scroll()" > <span>Contact</span></a>
          <a class="link" > <span></span></a>
          <a class="link" ><span> </span></a>
          <a class="link" ><span> </span></a>
          <a class="link" ><span> </span></a>

          <input class="input-elevated" type="text" placeholder="What are you looking for ?">
      </div>
      <div class="ms-auto cart--icon  position-relativ">
          <i [routerLink]="['/cart']" routerLinkActive="router-link-active"  class="fa-solid text-muted  fs-4 fa-cart-plus   "></i>
          <span *ngIf="productsCartNum" class="badge  position-absolute  rounded-circle">{{productsCartNum}}</span>

      </div>
      <label class="ChangeTheme" for="ChangeTheme">
          <input class="d-none" type="checkbox" id="ChangeTheme" /> <span class="slide"></span>
      </label>

      <div id="toggleMenu" class="toggle-menu" (click)="openToggelMenu()" [class.open]="varibleNavbar">
          <span class="rounded-5"></span>
          <span class="rounded-5"></span>
          <span class="rounded-5"></span>
      </div>
  </nav>

</header>
<div class=" slider text-center shadow">
  <div class="container">
      <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
          <i data-bs-target="#carouselExampleControls" data-bs-slide="prev" (click)="prevSlide()"
              class=" carousel-control-next fa-solid fa-arrow-right-long"></i>
          <div class="carousel-inner  ">
              <div class="carousel-item active ">
                  <p class="m-0 text-white fw-bold"> {{ getSlide() }}</p>

              </div>


                  <i    data-bs-target="#carouselExampleControls" data-bs-slide="next" (click)="nextSlide()"
                  class=" carousel-control-prev fa-solid fa-arrow-left-long" ></i>

          </div>

      </div>
  </div>
</div>


